body {
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  background: white
}

.general-container {
  width: 80%; 
  max-width: 1024px;
  margin: auto;
}

.welcome {
  margin: 50px auto;
}

.welcome .star {
  text-align: center;
  padding: 10px;
}

.welcome h1 {
  text-align: center;
  font-size: 2.125rem;
  color: #00b39b;
  margin: 1em 0;
  font-family: Work Sans,Arial,sans-serif;
  font-weight: 300;
  letter-spacing: -.3px;
}

.welcome-text {
  display: flex;
  background-color: white;
}

.welcome-text > div {
  background-color: white;
  color: #747474;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.service > .general-container {
  display: flex;
  justify-content: space-between;
  padding : 10px;
}

.single-service {
  width: 32%;
  padding: 20px;
  color: white;
  text-align: left;
  font-size: 20px;
  border-radius: 15px;
}

.single-service h4 {
  margin-bottom: 20px;
}

.single-service p {
  margin-bottom: 100px;
  width: 70%;
}

.service-green {
  background-color:  #00b39b;
}

.service-blue {
  background-color: dodgerblue;
}

.service-black {
  background-color: black;
}

.service-black p {
  margin-bottom: 60px;
}

.service-boutton a {
  color: white;
  text-decoration: underline;
  text-transform: capitalize;
  display: block;
}

.service-boutton .first-link {
  margin-bottom: 10px;
}

.partners {
margin: 50px 0;
}

.partners > .general-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-item1 {
  width: 20%;
  color: #00b39b;
  font-size: 25px;
  font-family: Work Sans,Arial,sans-serif;
  margin: 10px 10px 30px;
}

.partners-item2 {
  color: #909090;
  display: flex;
  flex-wrap: wrap ;
  width: 70%;
  margin: 10px;
}

.partners-item2-child {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 20px 20px 0;
}

.partners-item2-child:hover {
  color: #00b39b;
}

.biggest {
  background-color: #AFEEEE;
}
.general-container-biggest {
  display: grid;
  grid-template-areas:
    'biggest-description biggest-caracteristics';
  grid-gap: 10px;
  background-color: #AFEEEE;
  width: 80%; 
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}

.biggest-description h4 {
  color: #00b39b;
  font-family: Work Sans,Arial,sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin: 20px;
}

.biggest-caracteristics {
  display: grid;
  grid-template-areas:
    'biggest-caracteristics-leader biggest-caracteristics-appointments'
    'biggest-caracteristics-patients biggest-caracteristics-doctors';
  grid-gap: 10px;
  padding: 10px;
  background-color: #AFEEEE;
}

.biggest-caracteristics > div {
  background-color: white;
  border-radius: 5%;
  width : 250px;
  height: 300px;
}

.biggest-caracteristics h5 {
  color: #00b39b;
  font-family: Work Sans,Arial,sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 20px;
}

.biggest-caracteristics-pictures {
  text-align: center;
  padding: 10px;
}

.slogan h3 {
  color: #00b39b;
  font-family: Work Sans,Arial,sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 35px;
}

.slogan p{
  color: #747474;
  font-family: Work Sans,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 35px 300px;
}

.location-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

.location-grid > div {
  color: #747474;
  font-family: Work Sans,Arial,sans-serif;
  font-size: 20px;
}

.location-grid p {
  margin:15px;
  display: inline-block;
}

.btn-group {

}

.joinus p {
  font-family: Work Sans,Arial,sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 20px 20px 40px;
}

.footer p {
  text-align: center;
  font-size: 12px;
  color: #ababab;
}
